body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  }


.footer {    
  text-align: center;    
} /********footer alignment*******/

.basket {
  
  width: 380px;
}  /********yarn basket image*******/

.heart {
  
  width: 380px;
}   /********yarn heart image*******/

.yarnCloset {

  width: 400px;
}   /********yarn closet image*******/

.honeybee {
  width: 20px;
}
.cart {
  width: 20px;
}

img {
  width: 300px;
}