
.navbar-style {
  background-color:rgb(61, 196, 196)  !important; /*important means
  this overwrites the original code */
}

.footer {    
  text-align: center;    
} /********footer alignment*******/

.basket {
  
  width: 380px;
}  /********yarn basket image*******/

.heart {
  
  width: 380px;
}   /********yarn heart image*******/

.yarnCloset {

  width: 400px;
}   /********yarn closet image*******/

.honeybee {
  width: 20px;
}
.cart {
  width: 20px;
}

img {
  width: 150px;
}

body {
  background-color: beige;
}

.navbar-style {
  background-color:rgb(61, 196, 196)  !important; /*important means
  this overwrites the original code */
}



